@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linked {
    color: A3AED0;
  }
}